#:schema https://raw.githubusercontent.com/YunoHost/apps/main/schemas/manifest.v2.schema.json

packaging_format = 2

id = "croodle"
name = "croodle"
description.en = "web application to schedule a date or to do a poll on a general topics"
description.fr = "Application web permettant de fixer une date ou de réaliser un sondage sur des sujets généraux"

version = "0.7.0~ynh1"

maintainers = ["eric_G"]

[upstream]
license = "MIT"
website = "https://example.com"
demo = "https://demo.example.com"
code = "https://github.com/jelhan/croodle"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]

    [resources.sources]

    [resources.sources.main]
    in_subdir = false
    url = "https://github.com/jelhan/croodle/releases/download/v0.7.0/croodle-v0.7.0.tar.gz"
    sha256 = "58388ced6ee347ee841529d8274db8145aafb3b51f5b23dfa5e159d106374c89"
    autoupdate.strategy = "latest_github_release"

    [resources.system_user]

    [resources.install_dir]

    [resources.data_dir]

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = "php8.4-fpm"
